APPWRITE_ENDPOINT=https://appwrite.racoondevs.com/v1
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=main
APPWRITE_COLLECTION_PROPERTIES_ID=properties
APPWRITE_COLLECTION_LEADS_ID=leads
APPWRITE_COLLECTION_RESERVATIONS_ID=reservations
APPWRITE_COLLECTION_RESERVATION_PAYMENTS_ID=reservation_payments
APPWRITE_COLLECTION_ANALYTICS_DAILY_ID=analytics_daily
APPWRITE_COLLECTION_ACTIVITY_LOGS_ID=activity_logs
